.fp-button {
  padding: 24px 36px;
  font-weight: $font-weight-medium;
  font-size: 2rem;
  line-height: 1;
  border-radius: 45px;
  display: inline-block;
  text-align: center;
  border: none;
  cursor: pointer;
  background-color: rgb(var(--accent-1));
  color: var(--body);
  text-decoration: none;

  @include fp-transition('background-color, color');

  @media (hover) {
    &:hover {
      background-color: rgb(var(--accent-2));
      color: var(--body);
    }
  }
  &--small {
    font-size: 1.2rem;
    padding: 11px 16px;
    @include media-breakpoint-up(md) {
      font-size: 1.6rem;
    }
  }
  &::selection {
    color: inherit;
    background-color: transparent;
  }
}
