{% if link.url and link.title %}
	<div class="mb-40 mb-xl-60">
		<a class="fp-button fp-button--accent-2 w-100" href="{{ link.url }}" target="{{ link.target ?: '_self' }}">{{ link.title }}</a>
	</div>
{% endif %}
