@import "abstracts/abstracts";

.fp-contact-form-block {
  &__thank-you {
    .link {
      max-width: 500px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .wpcf7 {
    .wpcf7-form {
      display: flex;
      flex-direction: column;
      gap: 25px;
      position: relative;
      &.invalid {
        .wpcf7-response-output {
          color: $danger;
        }
      }
    }
    .screen-reader-response,
    .wpcf7-spinner {
      display: none;
    }
    .wpcf7-not-valid-tip {
      color: $danger;
      padding-left: 30px;
      font-size: 1.3rem;
      position: absolute;
      top: calc(100% + 4px);
      left: 0;
    }
    .wpcf7-response-output {
      border: none;
      padding: 0;
      margin-left: 0;
      margin-right: 0;
      position: absolute;
      top: 100%;
      left: 0;
    }
    .fp-form-group {
      margin-bottom: 25px;
      label {
        display: inline-flex;
        padding-left: 15px;
        margin-bottom: 15px;
        color: rgb(var(--text));
        cursor: pointer;
        @include media-breakpoint-up(md) {
          padding-left: 30px;
          margin-bottom: 8px;
        }
      }

      .email {
        position: relative;
        input[type="email"] {
          padding-left: 60px;
        }
        &:after {
          content: '';
          position: absolute;
          background-image: url("data:image/svg+xml,%3Csvg width='20' height='16' viewBox='0 0 20 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 0H2C0.9 0 0.00999999 0.9 0.00999999 2L0 14C0 15.1 0.9 16 2 16H18C19.1 16 20 15.1 20 14V2C20 0.9 19.1 0 18 0ZM18 4L10 9L2 4V2L10 7L18 2V4Z' fill='%235B5B5B'/%3E%3C/svg%3E%0A");
          width: 20px;
          height: 16px;
          top: 50%;
          left: 30px;
          transform: translateY(-50%);
        }
      }
    }
    .wpcf7-form-control-wrap {
      position: relative;
      display: block;

      input:not([type='checkbox']),
      textarea {
        width: 100%;
        height: 70px;
        border-radius: 45px;
        border: 1px solid rgba(var(--accent-1), 0.3);
        background-color: var(--body);
        padding: 24px 24px 24px 30px;
        font-size: 1.8rem;
        font-weight: $font-weight-light;
        @include fp-transition('border-color');
        &::placeholder {
          color: rgba(var(--text), 0.6);
        }
        &.wpcf7-not-valid {
          border-color: $danger;
        }
        &:focus {
          border-color: rgb(var(--accent-2));
          outline: none;
        }
      }
      textarea {
        height: auto;
        resize: none;
        border-radius: 20px;
        max-height: 150px;
      }
    }

    .wpcf7-acceptance {
      .wpcf7-list-item {
        display: flex;
        justify-content: center;
      }
      .wpcf7-list-item-label {
        margin-left: 26px;
      }
      label {
        margin-bottom: 0;
        padding-left: 0;
        position: relative;
      }
      input {
        appearance: none;
        position: absolute;
        left: 0;
        top: 4px;
        width: 16px;
        height: 16px;
        background: transparent !important;
        border: none !important;
        margin: 0 !important;

        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 16px;
          height: 16px;
          border: 1px solid rgb(var(--text));
          background-color: var(--body);
          border-radius: 4px;
          cursor: pointer;

          @include fp-transition("background-color, border-color");
        }

        &::before {
          content: "";
          position: absolute;
          width: 10px;
          height: 8px;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='8' viewBox='0 0 10 8' fill='none'%3E%3Cpath d='M1 3.00012L4 6.00012L9.00024 1' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          top: 8px;
          left: 8px;
          transform: translate(-50%, -50%);
          z-index: 1;
          opacity: 0;
          margin: 0 !important;

          @include fp-transition("opacity, background-color");
        }

        &:checked {

          &::after {
            border-color: rgb(var(--accent-1));
            background-color: rgb(var(--accent-1));
          }

          &::before {
            opacity: 1;
          }
        }

        &:hover {
          &::after {
            background-color: rgb(var(--accent-1));
            border-color: rgb(var(--accent-1));
          }
        }

        &:focus {
          outline: none !important;
          box-shadow: none !important;
        }
      }
    }

    .wpcf7-submit {
      padding: 24px 36px;
      font-weight: $font-weight-medium;
      font-size: 2rem;
      line-height: 1;
      border-radius: 45px;
      display: inline-block;
      text-align: center;
      border: none;
      cursor: pointer;
      background-color: rgb(var(--accent-1));
      color: var(--body);
      text-decoration: none;
      width: 100%;

      @include fp-transition('background-color, color');

      @media (hover) {
        &:hover {
          background-color: rgb(var(--accent-2));
          color: var(--body);
        }
      }
      &:disabled {
        background-color: rgba(var(--text), 0.8);
      }
    }
  }
}

